 .copy_right_footer {
       position: fixed;
       color: #6c757d;
       bottom: 0;
       width: 100%;
       font-size: 18px;
       background-color: #f5f5f5;
       line-height: 3;
       text-align: center;
       text-shadow: 5px 5px 5px rgb(151, 149, 149);
   }

   h1 {
    font-weight: bolder;
   }

   h4 {
    font-weight: bold;
   }

   #camera {
    width: 500px;
    height: 400px;
    border-color: #000000;
    border-width: 5px;
   }

   img:hover {
    border-radius: 140px;
   }